.custom-h-150 {
  height: 150px;
  background-image: url(./assets/bg_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.card-default {
  background: #2a2a2a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.serverinfo-card {
  border-left: 4px solid 	#00bcd4;
}

.danger-card {
  border-left: 4px solid 	#e53935;
}

.article-card {
  border-left: 4px solid #4caf50;
}

.warning-card {
  border-left: 4px solid 	#ffd700;
}

.darker-text {
  color: #aaaaaa;
  font-style: italic;
}

.show-cursor {
  cursor: pointer;
}

.navigbar {
  top: 10px;
}

.navlink {
  text-decoration: none;
  color: #ffffff;
}

.navlink:hover {
  color: #4caf50 !important;
  text-decoration: underline;
}

.logout {
  color: red !important;
}

.form-control.dark-input {
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #444;
  border-radius: 0.5rem;
}

.form-control.dark-input::placeholder {
  color: #bbb;
}

.mc-color {
  color: #4caf50;
}

.form-control.dark-input:focus {
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #4caf50;
}

.darker-bg {
  background-color: #1e1e1e;
}
.page-link:hover {
  background: #4caf50;
}
.page-link:active {
    background: #4caf50;
}

.dark-bg {
  background-color: rgb(65, 65, 65);
}

.nav-item:hover {
  background-color: #4caf50;
  border-radius: 5px;
}

.border-under {
  border-bottom: 1px solid #4caf4fa1;
}

.timer {
  background-color: rgba(250, 33, 33, 0.445);
  border-radius: 5px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.none {
  background-color: #2b2b2b;
  color: white;
  border: 0;
  padding: 1px 10px;
}

.none:hover {
  background-color: #4caf50;
  border-radius: 5px;
}

@media only screen and (min-width: 520px){
  .normal-end{
    text-align: end;
  }
}

@media only screen and (max-width: 767px){
  .custom-h-150 {
    display: none;
  }
  .nav-item:hover {
      padding-left: 10px;
  }
  .middle-sm {
    text-align: center;
  }
}